#chats.sidebar.active
          header
            span Chats
            ul.list-inline
              li.list-inline-item(data-toggle='tooltip' title='' data-original-title='New Group')
                a.btn.btn-light(href='#' data-toggle='modal' data-target='#newGroup')
                  i.fa.fa-users
              li.list-inline-item
                a.btn.btn-light(data-toggle='tooltip' title='' href='#' data-navigation-target='friends' data-original-title='New Chat')
                  i.ti-comment-alt
              li.list-inline-item.d-lg-none.d-sm-block
                a.btn.btn-light.sidebar-close(href='#')
                  i.ti-close
          form(action='')
            input.form-control(type='text' placeholder='Search chat')
          .sidebar-body(tabindex='3' style='overflow: hidden; outline: none;')
            ul.list-group.list-group-flush#listGroup
              //- each friend i friendList
                  li.list-group-item#friend.id
                    figure.avatar.avatar-state-success
                      img.rounded-circle(src='dist/images/man_avatar1.jpg')
                    .users-list-body
                      h5=friend.firstName
                      p Traditional heading elscas sdscsd sdcsdsc
                      .users-list-action
                        .new-message-count 2
              each group in groupChat
                  li.list-group-item(data-_id=group._id data-name=group.name data-sender=user.firstName data-senderId=user.id)
                    .avatar-group
                      figure.avatar
                        span.avatar-title.bg-warning.bg-success.rounded-circle
                          i.fa.fa-users
                    .users-list-body
                      h5=group.name
                      p #[strong #{group.latestMember}] : #{group.latestMessage}
                      .users-list-action.action-toggle
                        .dropdown
                          a(data-toggle='dropdown' href='#')
                            i.ti-more
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#') Open
                            a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                            a.dropdown-item(href='#') Add to archive
                            a.dropdown-item(href='#') Delete
                  //- li.list-group-item.open-chat
                  //-   div
                  //-     figure.avatar
                  //-       img.rounded-circle(src='dist/images/man_avatar3.jpg')
                  //-   .users-list-body
                  //-     h5 Karl Hubane
                  //-     p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
                  //-     .users-list-action.action-toggle
                  //-       .dropdown
                  //-         a(data-toggle='dropdown' href='#')
                  //-           i.ti-more
                  //-         .dropdown-menu.dropdown-menu-right
                  //-           a.dropdown-item(href='#') Open
                  //-           a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                  //-           a.dropdown-item(href='#') Add to archive
                  //-           a.dropdown-item(href='#') Delete
                  //- li.list-group-item
                  //-   .avatar-group
                  //-     figure.avatar
                  //-       span.avatar-title.bg-warning.bg-success.rounded-circle
                  //-         i.fa.fa-users
                  //-   .users-list-body
                  //-     h5 Entertainment Group
                  //-     p
                  //-       strong Maher Ruslandi: 
                  //-       | Hello!!!
                  //-     .users-list-action.action-toggle
                  //-       .dropdown
                  //-         a(data-toggle='dropdown' href='#')
                  //-           i.ti-more
                  //-         .dropdown-menu.dropdown-menu-right
                  //-           a.dropdown-item(href='#') Open
                  //-           a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                  //-           a.dropdown-item(href='#') Add to archive
                  //-           a.dropdown-item(href='#') Delete
                  //- li.list-group-item
                  //-   div
                  //-     figure.avatar.avatar-state-warning
                  //-       img.rounded-circle(src='dist/images/women_avatar1.jpg')
                  //-   .users-list-body
                  //-     h5 Jennica Kindred
                  //-     p I know how important this file is to you. You can trust me ;)
                  //-     .users-list-action.action-toggle
                  //-       .dropdown
                  //-         a(data-toggle='dropdown' href='#')
                  //-           i.ti-more
                  //-         .dropdown-menu.dropdown-menu-right
                  //-           a.dropdown-item(href='#') Open
                  //-           a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                  //-           a.dropdown-item(href='#') Add to archive
                  //-           a.dropdown-item(href='#') Delete
                  //- li.list-group-item
                  //-   div
                  //-     figure.avatar
                  //-       span.avatar-title.bg-info.rounded-circle M
                  //-   .users-list-body
                  //-     h5 Marvin Rohan
                  //-     p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
                  //-     .users-list-action.action-toggle
                  //-       .dropdown
                  //-         a(data-toggle='dropdown' href='#')
                  //-           i.ti-more
                  //-         .dropdown-menu.dropdown-menu-right
                  //-           a.dropdown-item(href='#') Open
                  //-           a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                  //-           a.dropdown-item(href='#') Add to archive
                  //-           a.dropdown-item(href='#') Delete
                  //- li.list-group-item
                  //-   div
                  //-     figure.avatar
                  //-       img.rounded-circle(src='dist/images/man_avatar2.jpg')
                  //-   .users-list-body
                  //-     h5 Frans Hanscombe
                  //-     p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
                  //-     .users-list-action.action-toggle
                  //-       .dropdown
                  //-         a(data-toggle='dropdown' href='#')
                  //-           i.ti-more
                  //-         .dropdown-menu.dropdown-menu-right
                  //-           a.dropdown-item(href='#') Open
                  //-           a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                  //-           a.dropdown-item(href='#') Add to archive
                  //-           a.dropdown-item(href='#') Delete              
