#favorites.sidebar
      header
        span Friend Requests
        ul.list-inline
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search favorites')
      .sidebar-body(tabindex='5' style='overflow: hidden; outline: none;')
        ul.list-group.list-group-flush.users-list#friendReqList
          each friend in friendReq
                li.list-group-item
                  .users-list-body
                    h5=friend.firstName
                    p I know how important this file is to you. You can trust me ;)
                        .users-list-action.action-toggle
                          .dropdown
                            a(data-toggle='dropdown' href='#')
                              i.ti-more
                            .dropdown-menu.dropdown-menu-right
                              a.dropdown-item#AcceptReq(data-id=friend.userId href='#') Accept
                              a.dropdown-item(href='#') Forward
                              a.dropdown-item(href='#') Delete
